@font-face {
  font-family: NORTHWEST;
  src: url(../fonts/NORTHWEST-B-DEMO.otf);
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: DroidSerif;
  src: url(../fonts/Muli.ttf);
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: din;
  src: url(../fonts/din.otf);
  font-weight: normal;
  font-style: normal; }
body {
  background-image: url(../img/bg-body.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 30px; }

.corner_label {
  position: fixed;
  top: 0;
  left: 20px;
  width: 150px;
  z-index: 1001; }

.ticket_link {
  position: absolute;
  width: 110px;
  left: 20px; }

.map_text {
  color: #F5B818;
  font: 16px NORTHWEST;
  padding-right: 15px; }

.main-m-w {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 40px; }
  .main-m-w.header {
    max-width: 100%;
    padding: 0; }
  .main-m-w.tickets_wrap iframe {
    border: 0 !important; }
  .main-m-w .image-cover {
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url(../img/newheader.jpg);
    height: 625px; }
    .main-m-w .image-cover .center-image {
      position: absolute;
      top: -15px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
      .main-m-w .image-cover .center-image img {
        width: 385px; }
    .main-m-w .image-cover .left-image {
      position: absolute;
      left: 18px;
      top: 0;
      margin-left: 150px; }
    .main-m-w .image-cover .right-image {
      position: absolute;
      top: 0;
      right: 0; }

.main-menu {
  background-color: black;
  position: relative;
  z-index: 5; }
  .main-menu:before {
    position: absolute;
    content: "";
    background: url(../img/bg-menu.png) repeat-x 0 0;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 7px; }
  .main-menu:after {
    position: absolute;
    content: "";
    background: url(../img/bg-menu.png) repeat-x 0 100%;
    left: 0;
    top: 100%;
    width: 100%;
    height: 7px; }
  .main-menu .lvl-1-wrapp {
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .main-menu .lvl-1-wrapp .lvl-1 {
      position: relative; }
      .main-menu .lvl-1-wrapp .lvl-1:hover .menu-sec-lvl {
        display: block; }
      .main-menu .lvl-1-wrapp .lvl-1 a {
        padding: 10px 20px 15px 20px;
        display: block;
        text-align: center;
        font-family: NORTHWEST;
        color: #F5B818;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        text-transform: uppercase;
        font-size: 20px; }
        .main-menu .lvl-1-wrapp .lvl-1 a.active {
          color: #F5D99B; }
        .main-menu .lvl-1-wrapp .lvl-1 a:hover {
          color: #FFEF9E; }
      .main-menu .lvl-1-wrapp .lvl-1 .menu-sec-lvl {
        position: absolute;
        top: calc(100% - 2px);
        left: 50%;
        z-index: 5;
        padding-top: 20px;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        display: none; }
        .main-menu .lvl-1-wrapp .lvl-1 .menu-sec-lvl .images-l-r {
          position: relative; }
          .main-menu .lvl-1-wrapp .lvl-1 .menu-sec-lvl .images-l-r:before {
            position: absolute;
            content: "";
            background: url(../img/bg-menu-2.png) repeat-y 0 0;
            right: calc(100% - 2px);
            top: 0;
            height: 100%;
            width: 7px; }
          .main-menu .lvl-1-wrapp .lvl-1 .menu-sec-lvl .images-l-r:after {
            position: absolute;
            content: "";
            background: url(../img/bg-menu-2.png) repeat-y 100% 0;
            left: calc(100% - 2px);
            top: 0;
            height: 100%;
            width: 7px; }
        .main-menu .lvl-1-wrapp .lvl-1 .menu-sec-lvl ul {
          margin: 0;
          list-style: none;
          background-color: black;
          position: relative; }
          .main-menu .lvl-1-wrapp .lvl-1 .menu-sec-lvl ul:before {
            position: absolute;
            content: "";
            background: url(../img/bg-menu.png) repeat-x 0 0;
            left: 0;
            bottom: 100%;
            width: 100%;
            height: 7px; }
          .main-menu .lvl-1-wrapp .lvl-1 .menu-sec-lvl ul:after {
            position: absolute;
            content: "";
            background: url(../img/bg-menu.png) repeat-x 0 100%;
            left: 0;
            top: 100%;
            width: 100%;
            height: 7px; }
          .main-menu .lvl-1-wrapp .lvl-1 .menu-sec-lvl ul li a {
            display: block;
            white-space: nowrap;
            padding: 3px 15px 3px 15px; }

.slider-wrapper .slider-init .slide {
  outline: none;
  position: relative;
  width: 100%;
  overflow: hidden; }
  .slider-wrapper .slider-init .slide:before {
    content: '';
    display: block;
    padding-top: 36%; }
  .slider-wrapper .slider-init .slide .image {
    opacity: 1;
    /*background-position: center;
    background-size: cover;
    height: 461px;
    position: relative;*/
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: center center no-repeat;
    background-size: cover; }
  .slider-wrapper .slider-init .slide.bg-1 {
    background-color: #f7f5e1; }
    .slider-wrapper .slider-init .slide.bg-1 .image {
      opacity: 1; }
  .slider-wrapper .slider-init .slide.bg-2 {
    background-color: #2e2e2e; }
.slider-wrapper .slick-arrow {
  position: absolute;
  display: block;
  border: none;
  font-size: 0;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 16px;
  z-index: 3;
  background-color: transparent;
  top: 50%;
  margin-top: -8px;
  background-image: url(../img/right-arr.svg); }
  .slider-wrapper .slick-arrow:hover {
    opacity: 0.6; }
  .slider-wrapper .slick-arrow.slick-prev {
    left: 80px;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .slider-wrapper .slick-arrow.slick-next {
    right: 80px; }
.slider-wrapper .slick-dots {
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  bottom: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  .slider-wrapper .slick-dots li {
    margin: 0 6px; }
    .slider-wrapper .slick-dots li button {
      width: 6px;
      height: 6px;
      outline: none;
      display: block;
      font-size: 0;
      border-radius: 50%;
      border: 2px solid #edede4;
      background: #edede4; }
    .slider-wrapper .slick-dots li.slick-active button {
      width: 9px;
      height: 9px;
      background: none; }

.flex-insta-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .flex-insta-head p {
    text-align: center;
    font-size: 36px;
    font-family: NORTHWEST;
    color: #FFD814;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-top: 5px; }

.huckfinn_container {
  background: rgba(0, 0, 0, 0.79);
  padding: 40px 20px;
  margin-bottom: 30px; }
  .huckfinn_container.line_up_block {
    background: url(../img/line_up_bg.png) no-repeat center;
    background-size: cover;
    border-radius: 30px;
    margin-top: 30px; }
  .huckfinn_container h1, .huckfinn_container h2 {
    color: #F5B818;
    font: 60px NORTHWEST;
    margin: 30px 0;
    text-transform: uppercase; }
  .huckfinn_container p, .huckfinn_container ul, .huckfinn_container ol {
    color: #FFEF9E;
    font: 20px DroidSerif; }
  .huckfinn_container p {
    margin: 0; }
  .huckfinn_container p.white_text {
    color: white; }
  .huckfinn_container a {
    color: #FFEF9E;
    text-decoration: underline; }
  .huckfinn_container .p_with_margin p {
    margin-bottom: 20px; }
  .huckfinn_container .nor_font {
    font-family: NORTHWEST;
    text-transform: none; }
  .huckfinn_container .line_up_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .huckfinn_container .line_up_wrap div {
      color: #F5B818;
      font-family: NORTHWEST;
      cursor: pointer;
      text-align: center;
      line-height: 1.2;
      font-size: 35px;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .huckfinn_container .line_up_wrap div:hover {
        color: #F5D99B; }
      .huckfinn_container .line_up_wrap div#line_up1, .huckfinn_container .line_up_wrap div#line_up2, .huckfinn_container .line_up_wrap div#line_up3, .huckfinn_container .line_up_wrap div#line_up13, .huckfinn_container .line_up_wrap div#line_up16, .huckfinn_container .line_up_wrap div:last-child {
        width: 100%; }
      .huckfinn_container .line_up_wrap div#line_up1 {
        font-size: 65px; }
      .huckfinn_container .line_up_wrap div#line_up2 {
        font-size: 55px; }
      .huckfinn_container .line_up_wrap div#line_up3 {
        font-size: 50px; }
      .huckfinn_container .line_up_wrap div#line_up4, .huckfinn_container .line_up_wrap div#line_up5, .huckfinn_container .line_up_wrap div#line_up6, .huckfinn_container .line_up_wrap div#line_up7, .huckfinn_container .line_up_wrap div#line_up8, .huckfinn_container .line_up_wrap div#line_up9, .huckfinn_container .line_up_wrap div#line_up10, .huckfinn_container .line_up_wrap div#line_up11, .huckfinn_container .line_up_wrap div#line_up12 {
        width: 33%; }
      .huckfinn_container .line_up_wrap div#line_up14, .huckfinn_container .line_up_wrap div#line_up15 {
        width: 50%; }
  .huckfinn_container .galary-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .huckfinn_container .galary-flex .wrapp-image-white {
      width: 33.33%;
      padding: 7px; }
      .huckfinn_container .galary-flex .wrapp-image-white .img-before-padding {
        position: relative;
        width: 100%;
        overflow: hidden; }
        .huckfinn_container .galary-flex .wrapp-image-white .img-before-padding:before {
          content: '';
          display: block;
          padding-top: 73%; }
        .huckfinn_container .galary-flex .wrapp-image-white .img-before-padding .img-go-go {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: center center no-repeat;
          background-size: cover;
          cursor: pointer; }
          .huckfinn_container .galary-flex .wrapp-image-white .img-before-padding .img-go-go:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
            opacity: 0;
            -webkit-transition: .4s;
            transition: .4s; }
          .huckfinn_container .galary-flex .wrapp-image-white .img-before-padding .img-go-go:hover:after {
            opacity: 1; }

#line_up_modal {
  background: rgba(255, 255, 255, 0.3); }
  #line_up_modal .modal-dialog {
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 50%;
    margin-top: -300px;
    left: 50%;
    margin-left: -500px;
    background: #000;
    padding: 30px; }
  #line_up_modal .closee {
    position: absolute;
    right: 30px;
    top: 30px;
    color: #F5B818;
    font: 16px NORTHWEST;
    cursor: pointer;
    z-index: 10; }
  #line_up_modal .line_up_modal_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 200px; }
    #line_up_modal .line_up_modal_wrap .left {
      width: 32%;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
    #line_up_modal .line_up_modal_wrap .right {
      width: 68%;
      padding-left: 5%;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
      #line_up_modal .line_up_modal_wrap .right h3 {
        color: #F5B818;
        font: 30px NORTHWEST;
        margin: 0;
        line-height: 1.0; }
  #line_up_modal .text {
    height: 300px;
    color: #F5B818;
    font: 14px DroidSerif;
    overflow: auto;
    margin-top: 30px;
    padding-right: 20px; }
    #line_up_modal .text::-webkit-scrollbar {
      background: #dcdcdc;
      width: 5px; }
    #line_up_modal .text::-webkit-scrollbar-thumb {
      background: #f5b818;
      cursor: pointer; }
    #line_up_modal .text p {
      margin-bottom: 15px; }

.main-m-w-2 {
  max-width: 100%;
  margin: 0 auto;
  padding: 0; }
  .main-m-w-2 .form-wrapp {
    background-size: cover;
    background-position: center;
    background-image: url(../img/form-button.jpg);
    padding: 50px 15px;
    position: relative; }
    .main-m-w-2 .form-wrapp:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); }
    .main-m-w-2 .form-wrapp .head-form {
      font-family: NORTHWEST;
      text-align: center;
      color: #FFD814;
      font-size: 34px;
      position: relative;
      z-index: 0;
      margin-bottom: 50px; }
    .main-m-w-2 .form-wrapp form {
      max-width: 692px;
      margin: 0 auto;
      position: relative;
      z-index: 0; }
      .main-m-w-2 .form-wrapp form input,
      .main-m-w-2 .form-wrapp form textarea {
        outline: none;
        display: block;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        border: 1px solid #2a2a2a;
        color: #fff;
        padding: 5px;
        border-radius: 0;
        margin-bottom: 12px;
        font-family: NORTHWEST;
        min-height: 36px;
        font-size: 17px; }
        .main-m-w-2 .form-wrapp form input::-webkit-input-placeholder,
        .main-m-w-2 .form-wrapp form textarea::-webkit-input-placeholder {
          color: #fff; }
        .main-m-w-2 .form-wrapp form input::-moz-placeholder,
        .main-m-w-2 .form-wrapp form textarea::-moz-placeholder {
          color: #fff; }
        .main-m-w-2 .form-wrapp form input:-moz-placeholder,
        .main-m-w-2 .form-wrapp form textarea:-moz-placeholder {
          color: #fff; }
        .main-m-w-2 .form-wrapp form input:-ms-input-placeholder,
        .main-m-w-2 .form-wrapp form textarea:-ms-input-placeholder {
          color: #fff; }
      .main-m-w-2 .form-wrapp form textarea {
        height: 150px;
        resize: none; }
      .main-m-w-2 .form-wrapp form .row-inputs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .main-m-w-2 .form-wrapp form .row-inputs input:first-child {
          margin-right: 6px; }
        .main-m-w-2 .form-wrapp form .row-inputs input:last-child {
          margin-left: 6px; }
      .main-m-w-2 .form-wrapp form button {
        display: block;
        width: 100%;
        outline: none;
        background: #f5b818;
        color: #000;
        font-family: NORTHWEST;
        font-size: 29px;
        border: none; }

footer {
  background: #000;
  margin-top: 0;
  padding: 35px 0; }
  footer .flex-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    footer .flex-footer ul {
      margin: 0;
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      footer .flex-footer ul li {
        width: 50%;
        padding: 5px 5px 5px 0; }
        footer .flex-footer ul li a {
          color: #F5B818;
          font-family: NORTHWEST;
          font-size: 22px; }
        footer .flex-footer ul li.copy-right {
          width: 100%;
          max-width: 315px;
          margin: auto;
          margin-top: 118px; }
          footer .flex-footer ul li.copy-right .soc {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
            footer .flex-footer ul li.copy-right .soc .soc-item {
              display: block;
              margin: 5px; }
          footer .flex-footer ul li.copy-right p {
            color: #F5D99B;
            text-align: center;
            font-family: NORTHWEST;
            font-size: 25px; }

#map {
  height: 400px;
  width: 100%; }

.main-menu.fixed-menu {
  position: fixed;
  top: -300px;
  left: 0;
  width: 100%;
  z-index: 1000;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .main-menu.fixed-menu.showed {
    top: 0; }

.faq-wrapper {
  padding: 30px 40px;
  background: rgba(0, 0, 0, 0.64);
  margin-bottom: 20px; }
  .faq-wrapper .head {
    font-family: NORTHWEST;
    color: #f5b818;
    font-size: 43px;
    margin-bottom: 20px; }
  .faq-wrapper .faq-item {
    border-bottom: 1px solid rgba(114, 114, 114, 0.2); }
    .faq-wrapper .faq-item.opened .text-quest:after {
      -webkit-transform: none;
              transform: none; }
    .faq-wrapper .faq-item .text-quest {
      padding: 15px 0;
      font-family: NORTHWEST;
      min-height: 50px;
      color: #f7f5e1;
      font-size: 18px;
      padding-right: 50px;
      position: relative;
      cursor: pointer;
      margin-bottom: 0; }
      .faq-wrapper .faq-item .text-quest:after {
        content: "";
        display: block;
        position: absolute;
        top: 29px;
        right: 0;
        height: 6px;
        width: 12px;
        background-image: url(../img/arr-faq.svg);
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
    .faq-wrapper .faq-item .responce {
      display: none; }
      .faq-wrapper .faq-item .responce p {
        font-family: NORTHWEST;
        margin-bottom: 10px;
        color: #ffef9e;
        font-size: 16px;
        letter-spacing: 1px; }
      .faq-wrapper .faq-item .responce ol {
        color: #ffef9e;
        font-family: NORTHWEST;
        margin-bottom: 10px;
        letter-spacing: 1px; }
      .faq-wrapper .faq-item .responce .soc-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 15px; }
        .faq-wrapper .faq-item .responce .soc-links a {
          display: block;
          margin-right: 10px; }
          .faq-wrapper .faq-item .responce .soc-links a:hover {
            opacity: 0.5; }

.ticket_buy {
  background: #F5B818;
  color: #000;
  font: 40px NORTHWEST;
  margin-bottom: 30px;
  display: inline-block;
  padding: 10px 50px 20px; }

.main-counter-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-family: 'Anton', sans-serif;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-left: 10px;
  color: #F5B818;
  top: -1px; }
  .main-counter-wr .counter-velue {
    line-height: 33px;
    display: block;
    position: relative;
    top: 2px;
    padding: 0 5px; }
    .main-counter-wr .counter-velue:last-child {
      padding-right: 0; }
      .main-counter-wr .counter-velue:last-child .desc {
        left: calc(50% + 3px); }
    .main-counter-wr .counter-velue .desc {
      display: block;
      position: absolute;
      top: 100%;
      left: 50%;
      color: #25a9df;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      font-size: 14px; }
    .main-counter-wr .counter-velue .d,
    .main-counter-wr .counter-velue .h,
    .main-counter-wr .counter-velue .m,
    .main-counter-wr .counter-velue .s {
      letter-spacing: 2px; }

.ticket_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/*# sourceMappingURL=style.css.map */